[user]
  name = Adrian Maceiras
  email = amac425@gmail.com
[push]
	default = tracking
[pack]
  deltaCacheSize = 2047m
  packSizeLimit = 2047m
  windowMemory = 2047m
[core]
  packedGitLimit = 512m
  packedGitWindowSize = 512m
  editor = atom --wait
	filemode = true
	ignorecase = true
	pager = less -R
	quotepath = false
	safecrlf = warn
	whitespace = trailing-space,space-before-tab
	excludesfile = .gitignore_local
	autocrlf = input
	compression = 9
[color]
	ui = auto
[branch]
	autosetuprebase = always
[status]
    showUntrackedFiles = all
[alias]
  aa = add --all
  ci = commit
  pur = pull --rebase
  ri = rebase --interactive --autosquash
  report = log --pretty=format:'%h %ai %cn \n - %s'
  rs = reset --soft
  rh = reset --hard
  rv = remote -v
  st = status -s -u
  sync = !git pull --rebase upstream master && git push -u origin +HEAD
  unstage = reset HEAD --
	who = shortlog -s --
	st = status -sb
	co = checkout
	cb = checkout -b
	b  = branch
	ba = branch -a
	br = !sh -c 'git branch -vv | sed "s/].*/]/"' -
	pr = remote prune origin
	so = remote show origin
	cp = cherry-pick
	l = log --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset' --no-merges
	lr = log --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset' --reverse
	ls = log --stat=,80 --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset' --no-merges
	lg = log --graph --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset'
	lc = log -1 --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset'
	la = log -6 --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset'
	lga = log --graph -10 --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset'
	lgfp = log --graph --first-parent --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %Creset%C(green)(%an) %Creset%C(cyan)%ar%Creset'
	d = diff -w
	dc = diff -w --cached
	df = !sh -c 'git d $1^! -- $2' -
	ds = diff -w --stat=,80
	dsc = diff -w --stat=,80 --cached
	dsf = !sh -c 'git ds $1^!' -
	dr = !sh -c 'git d `cat .git/rebase-merge/stopped-sha`^! -- $1' -
	rc = !sh -c 'git add . && git rebase --continue' -
	up = !sh -c 'git fetch && git rebase -p && git new' -
	new = !sh -c 'git ls $1@{1}..$1@{0} \"$@\"' -
	nd = !sh -c 'git ds $1@{1}..$1@{0} \"$@\"' -
	rmd = !sh -c 'git rm $(git ls-files --deleted)' -
[rerere]
	enabled = 1
[diff "sopsdiffer"]
	textconv = sops -d
[diff]
	tool = bc3
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
